@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body
{
    background-color: #131415;
    margin: 0;
    padding: 0;
    display: block;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    overflow: hidden;
}

*
{
    margin: 0;
    padding: 0;
}

.container
{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.subtitle
{
    text-shadow: 0 0 25px #fff;
    animation-name: subtitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes subtitle
{
    0%
    {
        color: transparent;
        text-shadow: 0 0 10px transparent;
        opacity: 0;
    }
    50%
    {
        color: rgb(10, 195, 71);
        text-shadow: 0 0 10px rgb(10, 195, 71);
        opacity: 1;
    }
    100%
    {
        color: transparent;
        text-shadow: 0 0 10px transparent;
        opacity: 0;
    }
}

.logo
{
    height: 200px;
}

.link
{
    display: inline-block;
    text-decoration: none;
}

.header
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 50px;
}

.footer
{
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: transparent;
    color: #fff;
    text-align: center;
}

.footer p
{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.footer-social *
{
    margin-left: 5px;
    margin-right: 5px;
}

.menu
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.menu-button
{
    display: block;
    background-color: transparent;
    text-decoration: none;
    font-size: 25px;
    font-weight: lighter;
    color: rgb(10, 195, 71);
    width: 300px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: rgb(10, 195, 71);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    transition: 0.3s;
}

.menu-button:hover
{
    transition: 0.3s;
    color: #fff;
    font-size: 29px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(10, 195, 71);
    box-shadow: 0 0 10px rgb(10, 195, 71);
}