@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body
{
    background-color: #131415;
    margin: 0;
    padding: 0;
    display: block;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    overflow: hidden;
}

*
{
    margin: 0;
    padding: 0;
}

.container
{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    overflow: hidden;
}

.subtitle
{
    text-shadow: 0 0 25px #fff;
    animation-name: subtitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes subtitle
{
    0%
    {
        color: transparent;
        text-shadow: 0 0 10px transparent;
    }
    50%
    {
        color: rgb(10, 195, 71);
        text-shadow: 0 0 10px rgb(10, 195, 71);
    }
    100%
    {
        color: transparent;
        text-shadow: 0 0 10px transparent;
    }
}

.logo
{
    height: 200px;
}

.link
{
    display: inline-block;
    text-decoration: none;
}

.footer
{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: transparent;
    color: #fff;
    text-align: center;
}

.footer p
{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.footer-social *
{
    margin-left: 5px;
    margin-right: 5px;
}